In [9]:
import pandas as pd
from fyers_apiv3 import fyersModel
import pytz
import os

#generate trading session
client_id = open("../client_id.txt",'r').read()
access_token = open("../access_token.txt",'r').read()
print(client_id)
# Initialize the FyersModel instance with your client_id, access_token, and enable async mode
fyers = fyersModel.FyersModel(client_id=client_id, is_async=False, token=access_token, log_path=os.getcwd())

DB1T6NIA7H-100

In [10]:
def fetchOHLC(ticker,interval,range_from, range_to):
    data = {
        "symbol":ticker,
        "resolution":interval,
        "date_format":"1",
        "range_from":range_from,
        "range_to":range_to,
        "cont_flag":"1"
    }

    '''     
    1 minute : “1”
    2 minute : “2"
    3 minute : "3"
    5 minute : "5"
    10 minute : "10"
    15 minute : "15"
    20 minute : "20"
    30 minute : "30"
    60 minute : "60"
    120 minute : "120"
    240 minute : "240"
    Daily : "D"
    range format: yyyy-mm-dd
    '''
    response = fyers.history(data=data)['candles']

    # Create a DataFrame
    columns = ['Timestamp','Open','High','Low','Close','Volume']
    df = pd.DataFrame(response, columns=columns)

    # Convert Timestamp to datetime in UTC
    df['Timestamp2'] = pd.to_datetime(df['Timestamp'],unit='s').dt.tz_localize(pytz.utc)

    # Convert Timestamp to IST
    ist = pytz.timezone('Asia/Kolkata')
    df['Timestamp2'] = df['Timestamp2'].dt.tz_convert(ist)

    return (df)

available timeframes: 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo >>>
1m data is only retrievable for the last 7 days, and anything intraday (interval <1d) only for the last 60 days.

In [11]:
# Fetch OHLC data using the function
response_df = fetchOHLC("NSE:NIFTY50-INDEX","5","2023-08-18", "2023-08-29")

# Print the DataFrame
print(response_df)

# Save data to a CSV file
response_df.to_csv('output.csv', index=False)

      Timestamp     Open     High      Low    Close  Volume  \
0    1692330300  19301.8  19317.2  19276.5  19307.1       0
1    1692330600  19306.8  19315.2  19293.0  19315.2       0
2    1692330900  19315.9  19329.8  19315.2  19326.2       0
3    1692331200  19325.8  19327.8  19311.2  19316.2       0
4    1692331500  19316.4  19320.3  19291.3  19294.3       0
..          ...      ...      ...      ...      ...     ...
595  1693301700  19334.6  19343.2  19334.5  19343.2       0
596  1693302000  19343.5  19344.1  19333.4  19341.4       0
597  1693302300  19342.2  19344.2  19336.7  19340.5       0
598  1693302600  19341.3  19357.0  19339.3  19355.2       0
599  1693302900  19356.2  19357.3  19349.2  19352.9       0

                   Timestamp2
0   2023-08-18 09:15:00+05:30
1   2023-08-18 09:20:00+05:30
2   2023-08-18 09:25:00+05:30
3   2023-08-18 09:30:00+05:30
4   2023-08-18 09:35:00+05:30
..                        ...
595 2023-08-29 15:05:00+05:30
596 2023-08-29 15:10:00+05:30
597 2023-08-29 15:15:00+05:30
598 2023-08-29 15:20:00+05:30
599 2023-08-29 15:25:00+05:30

[600 rows x 7 columns]

In [37]:
historical_data = ticker.history(interval="90m", start="2023-06-01", end="2023-07-01")

In [38]:
historical_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-06-01 09:30:00-04:00,177.699997,179.285004,176.930603,178.949997,16414827,0,0
2023-06-01 11:00:00-04:00,178.960007,179.966705,178.770004,179.800003,10285276,0,0
2023-06-01 12:30:00-04:00,179.800003,180.000000,179.464996,179.889999,8774000,0,0
2023-06-01 14:00:00-04:00,179.884995,180.119995,179.559998,179.779999,10441409,0,0
2023-06-01 15:30:00-04:00,179.789993,180.119995,179.220001,180.110001,7887639,0,0
...,...,...,...,...,...,...,...
2023-06-30 09:30:00-04:00,191.630005,193.149994,191.259995,192.539993,23567749,0,0
2023-06-30 11:00:00-04:00,192.539993,192.820007,191.979996,192.589996,10279508,0,0
2023-06-30 12:30:00-04:00,192.585007,193.119995,192.500000,193.089996,7723901,0,0
2023-06-30 14:00:00-04:00,193.089996,193.539902,192.815002,193.490005,9869408,0,0
2023-06-30 15:30:00-04:00,193.490005,194.479996,193.279999,193.800003,13053197,0,0